body, .rootwrapper {
  height: 100vh;
  margin: 0;
  background: url('https://i.pinimg.com/originals/15/cd/08/15cd08281f62bff7ec9237ae8c213c67.jpg') fixed;
  
}
.mat-expansion-panel{
    background:#07141b !important;
    min-height:40px!important;
    width:360px!important;
    position:fixed!important;
    bottom:0;
    right:5px;
}
.appheader {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    z-index: 1;
    margin: 0;
    position: fixed;
    top:0;
    width: 100%;
  display:flex;
  height: 40px;
  justify-content:center;
  align-items:center;
  font-size: 15px;
  font-weight: 400;
  font-variant:small-caps;
  color:#fff;
  font-size:22px;
  background:#07141b;
}
.cardheader{
    font-size:22px;
    float:right;
}
.taskcontent{
    text-align:center;
    font-size:18px;
    padding:5px;
}
.card, .card *{
  transition: 280ms cubic-bezier(0.4, 0, 0.2, 1) all !important;
}
* {
    margin: 0;
    padding: 0;
}
.card:first-of-type{
    margin:80px 0 0 0;
}
.card{
    
    background:#07141b;
    width:560px;
    opacity:0;
}
.card:hover{
    filter:brightness(105%);
}
.paneldescription{
    margin:0!important;
}
.checkicon{
    float:right;
}
@keyframes appear{
    20%{
        transform:scale(1.4)
    }
    100%{
        transform:scale(1);
    }

}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


.bodyclock * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyclock {
    position: fixed;
    right: 10px;
    top:50px;
    border-radius: 50%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #090909;
    background: #07141b;
}

.clock {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(clock.png);
    background-size: cover;
    border: 4px;
    /* box-shadow: 15px 15px 15px rgba(255, 255, 255, 0.5); */
    box-shadow: 0em -1.2em 1.2em rgba(255, 255, 255, 0.06),
                inset 0em -1.2em 1.2em rgba(255, 255, 255, 0.06),
                0em 1.2em 1.2em rgba(0, 0, 0, 0.3),
                inset 0em 1.2em 1.2em rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

body.light .clock {
    box-shadow: 0em -1.2em 1.2em rgba(255, 255, 255, 0.3),
                inset 1em 1em -1em rgba(255, 255, 255, 0.3),
                0em -1.2em -1.2em rgba(0, 0, 0, 0.5),
                inset 1em -1em 1em rgba(0, 0, 0, 0.1);
}

.clock :hover {
    /* yet to be completed; when hovered, diplay complete information about time, `new Date().toLocaleString();` */
    cursor: pointer;

}



/* The small circle int the center */
.clock:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgb(255, 255, 255);
    border-radius: 50%;

    /* The z-index property specifies the stack order of an element.
    /* An element with greater stack order is always in front of an element with a lower stack order.  */
    /* Note: z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky). */
    z-index: 10000;
    /* kept as a high value, since wanted at top */
}

body.light .clock:before {
    background: #1a74be;
}


.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

/* length of respective arms; */
.clock .hour, .hr {
    width: 160px;
    height: 160px;
} 

.clock .min, .mn {
    width: 190px;
    height: 190px;
}

.clock .sec, .sc {
    width: 230px;
    height: 230px;
}


.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    border-radius: 50%;
    
}
.hr:before {
    content: '';
    position: absolute;
    width: 7.5px;
    height: 80px;
    background: #f81460;
    z-index: 10;
    /* z-index least */
    border-radius: 2.8px;
}

.mn:before {
    content: '';
    position: absolute;
    width: 3.5px;
    height: 100px;
    background: #ffffff;
    z-index: 11;
    /* z-index more than hour hand */
    border-radius: 3px;
}

body.light .mn:before {
    background: #091921;

}


.sc:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #0075fa80;
    z-index: 12;
    /* z-index more than hour minute hand */
    border-radius: 3px;
}